:root {
    --bg: #ECE2D0;
    --card-bg: #eccec7;
    --heading-text: #582C4D;
    --date-color: #7D4A5B;
    --btn-color: #A26769;
    --header-bg: #1d1e2c;


}

* {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--bg);
}

.dark-header {
    color: var(--heading-text);
}

.border-none {
    border: none !important;
}

/* .color-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
} */

.buttons {
    background-color: var(--btn-color);
    color: var(--bg) !important;
    border-radius: 4px;
    border: none;
}

button {
    background-color: var(--btn-color);
    color: var(--bg);
    border-radius: 4px;
    border: none;
    font-size: 22px;
}

.date-text {
    color: var(--date-color);
}

.light-header {
    color: var(--heading-text);
}

.card-bg {
    background-color: var(--card-bg);
}